body {
    background-image: url("https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6c18d87b91cee85cbe63912304dba923&auto=format&fit=crop&w=1050&q=80");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    color: hsl(354, 99%, 35%);
    text-shadow: 1px 1px hsl(0, 0%, 0%);
    text-align: left;
    font-weight: bolder;
    padding: 10px;
}